//content
.content{
	> .dress{
		span{
			&:before{
				@include background(background-element, 0);
				@include sprite-dimensions($icons, background-element);
				position:absolute;
				display: block;
				content: '';
				left: 50px;
				top: 25px;
			}
		}
	}
	> .tags{
		margin: 15px 0 0 0;
		font-size: 12px;
		span{
			font-weight: bold;
		}
		a{
			margin: 0 0 0 10px;
		}
	}
	.dress-card{
		display: inline-block;
		margin: 0 13px 20px 0;
		@include box-sizing;
		height: 400px;
		width: 230px;		
		border: 1px solid #eee;
		padding: 20px 20px 10px;
		position: relative;
		&:after{
			@include background(heart, 0);
			@include sprite-dimensions($icons, heart);
			position: absolute;
			content: '';
			top: 10px;
			right: 10px;
		}
		img{
			width: 188px;
			height: 269px;
			@include box-sizing;
		}
		> .price{
			color: #fff;
			font-size: 17px;
			width: 188px;
			background: url('../images/dress-bg-gray.png');
			display: block;
			padding: 8px 0 8px;
			text-align: center;
			position:relative;
			top: -35px;
			.old-price{
				font-size: 12px;
				position: relative;
				margin: 0 15px 0 0;
				&:before{
					@include background(cross, 0);
					@include sprite-dimensions($icons, cross);
					position: absolute;
					content: '';
					left: -5px;
					top: 0px;
				}
			}
		}
		.description{
			position: relative;
			top: -25px;
			text-align: center;
			span{
				font-size: 12px;
				color: #adadad;
				display: block;
			}
			a{
				font-size: 14px;
				display: block;
				margin: 0 0 10px 0;
			}

			.rating{
				@include rating;
				float: none;
				a{
					margin: 0;
				}
			}
		}
	}
	> .like{
		&:after{
			@include background(heart-red, 0);
			@include sprite-dimensions($icons, heart-red);
			position: absolute;
			content: '';
			top: 10px;
			right: 1
		}
	}
}
.sidebar-right{
	form{
		.section2{
			.box2{
				display: none;
				&.visible{
					display: block;

					.add-dress{
						margin: 20px 0 25px 0;
						display: block;
						padding: 0 0 0 20px;
						@include background(plus-blue, 0);
						font-weight: bold;
					}
					.form-header{
						margin: 0 0 20px 0;
						> span{
							color: #333;
							display: block;
							font-weight: bold;
							margin: 0 0 10px 0;
							span{
								color: #666;
								font-weight: normal;
							}
						}
						input[type="text"]{
							width: 65px;
							padding: 10px;
							border: 1px solid #e8e8e8;
							@include border-radius(3px);
						}
					}
					> span{
						color: #333;
						display: block;
						font-weight: bold;
						margin: 0px 0 10px 0;
						padding: 0 0 0 15px;
						@include background(black-row-bottom, 0);
						@include sprite-background-position($icons, black-row-bottom, 0, +3);
					}
				}
			}
			.tabs2{
				.new, .used{
					float: left;
					text-decoration: none;
					font-size: 14px;
					color: #666;
					border: 1px solid #d6d6d6;
					display: inline-block;
					background-color: #fdfdfd;
					padding: 10px 20px;
					@include border-top-left-radius(2px);
					@include border-bottom-left-radius(2px);
				}
				&:hover{
					cursor: pointer;
				}
				.current2{
					background-color: #e3e3e3;
				}
			}
		}
	}
}