.footer {
	width: 100%;
	margin: 40px 0 0 0;
	padding: 40px 0;
	border-top: 2px solid #e5e5e5;
	.footer-logo {
		float: left;
		@include background(logo-footer, 0);
		@include sprite-dimensions($icons, logo-footer);
		vertical-align: top;
	}
	.phone {
		float: left;
		font-size: 14px;
		color: #ac296a;
		margin: 0 103px 0 56px;
		span {
			font-weight: bold;
			color: #000;
			display: block;
		}
	}
	.footer-menu {
		float: left;
		width: 405px;
		a {
			display: inline-block;
			font-size: 14px;
			width: 190px;
		}
	}
	.counter {
		width: 88px;
		height: 31px;
		float: right;
	}
}