.card{
	.section{
		.box{
			.main-block-salon{
				.address{
					margin: 0 0 40px 0;
					> span{
						margin: 0 0 10px 0;
						display: block;
						padding: 0 0 0 25px;
						color: #333;
						&.street{
							font-size: 15px;
							color: #ac296a;
							@include background(nav, 0);
							@include sprite-background-position($icons, nav, 0, 0);
						}
						&.metro{
							font-size: 15px;
						}
						&.phone{
							font-weight: bold;
							font-size: 13px;
							@include background(phone, 0);
							@include sprite-background-position($icons, phone, 0, 0);
						}
						&.time{
							font-size: 13px;
							@include background(clock, 0);
							@include sprite-background-position($icons, clock, 0, 0);
						}
					}
				}
			}
		}
	}
}
.sidebar-right{
	img{
		margin: 0 0 0 20px;
	}
	> .special-offer-image{
		display: block;
		width: 210px;
		height: 348px;
		@include box-sizing;
		margin: 10px 0 50px 20px;
	}

}


