.card{
	.section{
		width: 761px;
		.tabs{
			li{
				span{
					color: #000;
				}
			}
		}
		.box{
			.all{
				> span{
					position: relative;
					display: inline-block;
					&:before{
						@include background(background-element, 0);
						@include sprite-dimensions($icons, background-element);
						position:absolute;
						content: '';
						left: 5px;
						top: 25px;
					}
				}
			}
			.reviews{
				width: 761px;
				margin: 0 0 10px 0;
				> .review{
					margin: 0 0 20px 0;
					margin: 0 0 20px 0;
					padding: 25px 25px 20px 15px;
					border: 1px solid #e8e8e8;
					img{
						float: left;
					}
					.comment-right{
						float: left;
						margin: 0 0 0 15px;
						width: 650px;
						.name{
							font-size: 14px;
							font-weight: bold;
							color: #333;
							margin: 0 20px 0 0;
						}
						.date, .time{
							color: #666;
							font-size: 12px;
							margin: 0 10px 0 0;
						}
						p{
							margin: 15px 0 0 0;
						}
					}
					.pros{
						margin: 18px 0 0 0;
						span{
							color: #59a924;
							font-weight: bold;
						}
					}
					.cons{
						margin: 10px 0 0 0;
						span{
							color: #d35416;
							font-weight: bold;
						}
					}
					.rating-block{
						display: inline-block;
						float: right;
						span{
							font-size: 15px;
							font-weight: bold;
							float: right;
							&.good{
								color: #666;
							}
							&.bad{
								color: #d35416;
							}
							&.perfect{
								color: #59a924;
							}
						}
						.rating{
							@include rating;
							margin: 0 0 0 15px;
							a{
								margin: 0;
							}
						}
					}
				}
			}
			.add-review{
				margin: 40px 0 0 0; 
				padding: 30px;
				background-color: #f2f7fa;
				width: 761px;
				@include box-sizing;
				form{
					> span{
						color: #1f75b0;
						font-size: 18px;
						display: block;
						margin: 0 0 20px 0;
					}
					.review{
						float: left;
						margin: 0 30px 0 0;
						span{
							font-weight: bold;
							color: #72838d;
							font-size: 14px;
							display: block;
							margin: 0 0 10px 0;
						}
						textarea{
							border: 1px solid #e2edf4;
							width: 450px;
							height: 90px;
							resize: none;
						}
						.pros{
							font-size: 14px;
							display: block;
							margin: 10px 0 0 0;
							color: #59a924;
							padding: 0 0 0 15px;
							@include background(green-plus, 0);
							@include sprite-background-position($icons, green-plus, 0, +5);
						}
						.cons{
							font-size: 14px;
							display: block;
							margin: 5px 0 0 0;
							color: #d35416;
							padding: 0 0 0 15px;
							@include background(red-plus, 0);
							@include sprite-background-position($icons, red-plus, 0, +5);
						}
						input{
							@include submit;
						}
					}
					.overall-rating{
						float: right;
						span{
							font-weight: bold;
							color: #72838d;
							font-size: 14px;
							display: block;
							margin: 0 0 10px 0;
						}
						div{
							font-size: 13px;
							color: #333;
							input{
								position: relative;
								top: 2px;
							}
							.rating{
								@include rating;
								margin: 0 0 0 10px;
								a{
									margin: 0;
								}
							}
						}
					}
				}
			}
		}
	}
}
