.card{
	.section{
		.box{
			.description{
				strong{ 
					font-weight: bold !important;
				}
				> p{
					margin: 25px 0 10px 0;
					font-size: 14px;
				}
				img{
					float: left;
					&.first{
						margin: 0 10px 0 0;
					}
				}
			}
		}
	}
}