	.profile-reklamodatel {
		.contact-info {
			margin: 15px 0 0 0;
			position: relative;
			border-bottom: $border #ccc;
			padding: 0 0 10px 0;
			.redact {
				top: 0;
			}
			table {
				width: 450px;
				td {
					width: 75px;
					padding: 7px;
					font-size: 15px;
					color: #333;
					+td {
						width: 375px;
					}
					&:first-child {
						text-align: right;
						font-weight: bold;
						color: #72838d;
					}
					span {
						font: {
							size: 15px;
							style: italic;
						}
						color: #adadad;
					}
				}
			}
		}
		.firm-card {
			position: relative;
			padding: 25px 0 0 0;
			.redact {
				top: 20px;
			}
			.card {
				border: $border #d6d6d6;
				padding: 20px 18px;
				margin: 20px 0;
				> a {
					font-size: 23px;
				}
				> p {
					@include p; 
					margin: 15px 0;
				}
				> span {
					@include clean;
				}
				ul li {
					display: inline-block;
					position: relative;
					width: 220px;
					background: url(../images/card-li.png) no-repeat right top;
					padding: 4px 3px 0 0;
					margin: 0 0 0 10px;
					&:first-child {
						margin: 0;
					}
					a {
						position: absolute;
						display: block;
						width: 218px;
						padding: 8px 0 8px;
						text-align: center;
						bottom: 0;
						font-size: 14px;
						color: #fff; 
						background: url(../images/px.png) repeat;
						&:hover {
							text-decoration: none;
						}
					}
				}
			}
			.catalog-source {
				padding: 10px 0 30px 0;
				border-bottom: $border #ccc;
				span {
					@extend h3; 
					padding: 0 15px 0 0;
				}
				a {
					font-size: 15px;
					color: #333;
					@include background(ok, 0);
					padding: 0 15px 0 25px;
					text-decoration: none;
				}
			}
		}
		.text-company {
			@extend .firm-card;
			h3 {
				margin: 0 0 30px 0;
			}
			p {
				@include p;
				line-height: 23px;
				margin: 0 0 25px 0;
			}
			strong {
				font-weight: bold;
			}
			> span {
				@include clean;
				margin: -20px 0 10px 0;
			}
		}
	}
// add-novosti
.add-novosti {
	h2 {
		@include h2;
	}
	label {
		span {
			@include label;
		}
		input[type=text], select, textarea {
			@include forms;	
		} 
		input[type=text], textarea {
			width: 97%;
			padding: 8px 10px;
		}
		textarea {
			width: 97.1%;
			height: 200px;
			border-top: none;
			@include border-top-left-radius(0);
			@include border-top-right-radius(0);
		}
		.textarea-bar {
			border: $border #e8e8e8;
			text-align: center;
			padding: 10px 0;
			width: 96.9%;
		}
	}
	input[type=submit] {
		@include submit;
	}
	.novosti-added {
		padding: 25px;
		border: $border #e8e8e8;
		position: relative;
		margin: 25px 0 0 0;
		a {
			display: block;
			margin: 0 0 10px 0;
		}
		p {
			@include p;
			line-height: 21px;
			margin: 0 0 25px 0;
		}
		.redact {
			left: 25px;
			bottom: 5px;
		}
		.date {
			position: absolute;
			bottom: 12px;
			right: 25px;
			font-size: 12px;
			color: #666;
		}
	}
}

//calendar
.calendar {
	h2 {
		@include h2;
	}
	p {
		@include p;
		margin: 15px 0;
	}
	.info {
		display: inline-block;
		position: relative;
		padding: 0 0 0 45px;
		font: {
			style: italic;
			size: 13px;
		}
		color: #333;
		@include background(info, 0);
		@include sprite-background-position($icons, info, 0, +3);
	}
	.cal {
		margin: 40px 0 0 0;
		.month {
			text-align: center;
			font-size: 20px;
			color: #333;
			a {
				display: inline-block;
			}
			.prev {
				@include background(prev,0);
				@include sprite-dimensions($icons, prev);
				margin: 0 25px 0 0;
			}
			.next {
				@include background(next,0);
				@extend .prev;
				margin: 0 0 0 25px;
			}
		}
		table {
			width: 100%;
			border: $border #e8e8e8;
			margin: 20px 0 0 0;
			border-collapse: collapse;
			th {
				font-size: 12px;
				color: #666;
				text-align: center;
				width: 105px;
				padding: 8px 0;
				border: $border #e8e8e8;
			}
			td {
				position: relative;
				@extend .month;
				height: 56px;
				border: $border #e8e8e8;
				vertical-align: top;
				text-align: right;
				padding: 7px;
				&:hover {
					cursor: pointer;
					background: #E8E8E8;
				}
				span {
					position: absolute;
					width: 99%;
					left: 0;
					bottom: 5px;
					font: {
						size: 12px;
						style: italic;
					}
					color: #333;
				}
			}
			.pmonth {
				color: #d0d0d0;
			}
			.today {
				background: #f0df84;
				@include box-shadow(#fff 0 0 6px inset);
			}
			.want-day {
				background: #efd6e3;
			}
		}
	}
}

//about-company 
.about-company {
	h2 {
		@include h2;
		input {
			@include forms;
			width: 460px;
			margin: 0 0 0 30px;
		}
		+h2 {
			margin: 40px 0 0 0;
		}
	}
	label {
		position: relative;
		@include label;
		span {
			width: 125px;
			margin: 0 10px 0 0;
			display: inline-block;
			text-align: right;
		}
		input {
			@include forms;
			width: 180px;
		}
	}
	.site {
		@include background(site,0);
		@include sprite-background-position($icons, site, +55, +8);
	}
	.email {
		@extend .site;
		@include background(email, 0);
		@include sprite-background-position($icons, email, +52, +8);
	}
	.skype {
		@extend .email;
		@include background(skype, 0);
		@include sprite-background-position($icons, skype, +48, +8);
	}
	input[type=submit] {
		@include submit;
	}
}

//nastroyki
.nastroyki {
	h2 {
		@include h2;
	}
	.uvedom {
		h2 {
			margin-bottom: 20px;
		}
		label {
			@include p;
			display: block;
			margin: 10px 0;
			input {
				position: relative;
				top: 2px;
				margin: 0;
			} 
		}
	}
	@include password-change;
	input[type=submit] {
		@include submit;
	}
}

//otzivi
.otzivi {
	h2 {
		@include h2;
	}
	.otziv {
		padding: 25px 25px 50px 25px;
		border: $border #e8e8e8;
		position: relative;
		margin: 25px 0 0 0;
		img {
			float: left;
		}
		.user-info {
			width: 620px;
			float: right;
			a {
				font-weight: bold;
				font-size: 14px;
				color: #333;
				text-decoration: none;
				padding: 0 15px 0 0;
			}
			.date {
				font-size: 12px;
				color: #666;
			}
			.rating {
				@include rating;
			}
			p {
				font-size: 16px;
				color: #333;
				line-height: 21px;
			}
			.plus {
				display: block;
				margin: 15px 0;
				strong {
					font-weight: bold;
					color: #59a924;
				}
			}
			.minus {
				strong {
					font-weight: bold;
					color: #d35416;
				}
			}
			.post-answer {
				text-decoration: underline;
				padding: 0 0 0 25px;
				color: #1f75b0;
				font-size: 14px;
				position: absolute;
				right: 25px;
				bottom: 25px;
				font-weight: normal;
				@include background(profile-rekl-cat-7, 0);
				@include sprite-background-position($icons, profile-rekl-cat-7, 0, +2);
				&:hover {
					text-decoration: none;
				}
			}
		}
	}
} 

//tovar-uslug
.tovar-uslug {
	h2 {
		@include h2;
	}
	.radio-box {
		label {
			@include label;
			display: inline-block;
			margin: 15px 20px 5px 0;
		}
	}
	.add-tovar {
		label {
			@include label;
			&.name-tovar {
				input {
					width: 400px;
				}
			}
			&.cost-tovar {
				input {
					width: 115px;
				}
			}
			&.collection-tovar {
				input {
					@include submit-plus;
					@include background(plus, 0);
					@include sprite-background-position($icons, plus, +13, +8);
					padding: 0 15px 0 36px;
				}
			}
		}
		span {
			width: 140px;
			margin: 0 10px 0 0;
			display: inline-block;
		}
		strong {
			color: #666;
			font-weight: normal;
			padding: 0 0 0 10px;
		}
		input[type=text], select {
			@include forms;
			width: 210px;
		}
	}
	.foto-tovar {
		position: relative;
		width: 460px;
		min-height: 310px;
		h3 {
			@include label;
		}
		.caroufredsel_wrapper{
			margin: 0 0 0 45px !important;
			#carousel7{
				font-size: 0;
				overflow: hidden;
				a{
					display: inline-block;
					margin: 0 20px 0 0;
					font-size: 16px;
					>img{
						border: 1px solid #dddddd;
						width: 159px;
						height: 228px;
						@include box-sizing;
					}
				}
			}
		}
		span {
			display: block;
			position: absolute;
			width: 30px;
			height: 52px;
			cursor: pointer;
			top: 100px;
			&.carouselLeft {
				@include background(left-an, 0);
				left: 0;
				&.active, &:hover {
					@include background(left-ac, 0);
				}
			}
			&.carouselRight {
				@include background(right-an, 0);
				right: -145px;
				&.active, &:hover {
					@include background(right-ac, 0);
				}
			}
		}
		input[type=submit] {
			@include submit-plus;
			@include background(plus, 0);
			@include sprite-background-position($icons, plus, +13, +8);
			padding: 0 15px 0 36px;
			position: absolute;
			bottom: 0;
		}
	}
	.opis-tovar {
		margin: 25px 0 0 0;
		h3 {
			@include label;
		}
		.textarea-bar {
			border: $border #e8e8e8;
			text-align: center;
			padding: 10px 0;
			width: 96.9%;
		}
		textarea {
			@include forms;	
			width: 97.1%;
			padding: 8px 10px;
			height: 200px;
			border-top: none;
			@include border-top-left-radius(0);
			@include border-top-right-radius(0);
		} 
	}
	.har-tovar {
		label {
			@include label;
			input {
				@include forms;
				width: 250px;
			}
			span {
				width: 90px;
				margin: 0 10px 0 0;
				display: inline-block;
			}
		}
		input[type=submit] {
			@include submit-plus;
			@include background(plus, 0);
			@include sprite-background-position($icons, plus, +13, +8);
			padding: 0 15px 0 36px;
			margin: 10px 0 0 0;
		}
	}
	> input[type=submit] {
		@include submit;
		font-size: 27px!important;
	}
	> input[type=submit].preview {
		@include submit-white;
	}
} 

//tovaru
.tovaru {
	.tovar {
		padding: 20px;
		border: $border #e8e8e8;
		margin: 25px 0 0 0;
		position: relative;
		.img-n-cost {
			display: inline-block;
			.cost {
				font-size: 23px;
				color: #db1c5d;
				text-align: center;
				margin: 20px 0 0 0;
				span {
					font-size: 15px;
					color: #c8c2b4;
				}
			}
		}
		.info-tovar {
			display: inline-block;
			vertical-align: top;
			width: 474px;
			margin: 0 0 0 30px;
			a {
				font-size: 20px;
				display: block;
				margin: 3px 0 21px 0;
			}
			p {
				@include p;
			}
			dl {
				margin: 30px 0 0 0;
				dt {
					@include label;
					width: 90px;
					margin: 0 10px 20px 0;
					display: inline-block;
				}
				dd {
					display: inline-block;
					width: 370px;
					@include p;
					font-size: 15px;
				}
			}
		}
		.redact {
			right: 30px;
			bottom: 20px;
		}
	}
}