.cake-calc{
	.calculator-box{
		margin: 20px 0 0 0;
		border: 1px solid #d9e7f2;
		padding: 10px;
		.calculator{
			background: #f1f6fa url(../images/cake-bg.png) no-repeat 450px 0px;
			padding: 45px 45px 35px 50px;
			.group{
				margin: 0 0 30px 0;
			}
			span{
				color: #72838d;
				font-size: 15px;
				font-weight: bold;
				display: inline-block;
				width: 190px;
				vertical-align: middle;
			}
			input{
				width: 135px;
				height: 34px;
				display: inline-block;
				@include box-sizing;
				@include border-radius(3px);
				font-size: 15px;
				border: 1px solid #e8e8e8;
				background-color: #fff;
				text-align: center;
				margin: 0 0 0 10px;
				&[type=submit]{
					width: 338px;
					height: 58px;
					font-size: 22px;
					color: #fff;
					background-color: #58a5cf;
					border: 1px solid #2e87bb;
					cursor: pointer;
					margin: 0;
					float: left;
					margin: 20px 0 0 0;
				}
			}
			.calculated-block{
				margin: 20px 0 0 0;
				float: right;
				background-color: #fff;
				text-align: center;
				height: 60px;
				width: 250px;
				@include box-sizing;
				@include border-radius(3px);
				padding: 5px 0;
				@include box-shadow(#e7ebef 0px 0px 10px);
				.title{
					color: #999;
					font-size: 12px;
					display: inline-block;
					margin: 0 0 8px 0;
				}
				.weight{
					color: #ac296a;
					font-size: 32px;
				}
			}
			select{
				padding: 0 0 0 10px;
				width: 135px;
				height: 34px;
				display: inline-block;
				@include box-sizing;
				@include border-radius(3px);
				font-size: 15px;
				margin: 0 0 0 10px;
				border: 1px solid #e8e8e8;
				background-color: #fff;
				cursor: pointer;
			}
		}
	}
}
.alko-calc{
	.left-block{
		float: left;
	}
	.right-block{
		float: right;
	}
	.calculator-box{
		margin: 20px 0 0 0;
		border: 1px solid #d9e7f2;
		padding: 10px;
		.calculator{
			background-color: #f1f6fa;
			padding: 32px 30px 20px 45px;
			.group{
				margin: 0 0 30px 0;
				> span{
					color: #72838d;
					font-size: 15px;
					font-weight: bold;
					display: inline-block;
					width: 190px;
					vertical-align: middle;
				}
			}
			input{
				width: 135px;
				height: 34px;
				display: inline-block;
				@include box-sizing;
				@include border-radius(3px);
				font-size: 15px;
				border: 1px solid #e8e8e8;
				background-color: #fff;
				text-align: center;
				margin: 0 0 0 10px;
			}
			select{
				padding: 0 0 0 10px;
				width: 135px;
				height: 34px;
				display: inline-block;
				@include box-sizing;
				@include border-radius(3px);
				font-size: 15px;
				margin: 0 0 0 10px;
				border: 1px solid #e8e8e8;
				background-color: #fff;
				cursor: pointer;
			}
			.calculated-block{
				background-color: #fff;
				width: 270px;
				@include box-sizing;
				@include box-shadow(#dde1e5 0px 0px 10px);
				.heading{
					color: #72838d;
					font-size: 17px;
					@include box-shadow(#f4f4f4 0px 4px 5px);
					text-align: center;
					line-height: 36px;
					padding: 8px 0 7px;
				}
				.row{
					border-bottom: 1px dashed #e5e5e5;
					height: 35px;
					padding: 3px 0;
					&:last-child{
						border: none;
					}
					.title{
						display: inline-block;
						color: #666;
						font-size: 14px;
						padding: 0 25px 0 25px;
						width: 150px;
						vertical-align: middle;
						line-height: 18px;
					}
					.total{
						display: inline-block;
						color: #ac296a;
						font-size: 14px;
						line-height: 35px;
						font-weight: bold;
					}
				}
			}
		}
	}
}
.svadba-calc{
	.left{
		float: left;
	}
	.right{
		float: right;
	}
	.calculator-box{
		margin: 20px 0 33px 0;
		border: 1px solid #d9e7f2;
		padding: 10px;
		.calculator{
			background-color: #f1f6fa;
			padding: 32px 30px 30px 45px;
			.titile{
				text-align: center;
				font-size: 20px;
				color: #426275;
				margin: 0 0 20px 0;
			}
			p{
				font-size: 14px;
				color: #666;
				text-align: center;
				margin: 0 0 40px 0;
			}
			.group{
				margin: 0 0 10px 0;
				.guests-count-block{
					span{
						font-size: 15px;
						color: #72838d;
						font-weight: bold;
						&.guests-count{
							font-weight: normal;
						}
					}
					input{
						width: 76px;
						height: 30px;
						font-size: 15px;
						text-align: center;
						@include border-radius(3px);
						border: 1px solid #e8e8e8;
						margin: 0 5px;
					}
				}
				.paysum-block{
					span{
						font-size: 15px;
						color: #72838d;
						font-weight: bold;
						&.paysum{
							font-weight: normal;
						}
					}
					input{
						width: 116px;
						height: 30px;
						font-size: 15px;
						text-align: center;
						@include border-radius(3px);
						border: 1px solid #e8e8e8;
						margin: 0 5px;
					}
				}
			}
			.balance{
				@include box-shadow(#e7ebef 0px 4px 5px);
				@include box-sizing;
				height: 84px;
				width: 214px;
				background-color: #fff;
				float: left;
				color: #666;
				text-align: center;
				padding: 10px 0 15px;
				border-right: 1px solid #e5e5e5;
				span{
					&.cost{
					font-size: 28px;
					line-height: 40px;
					margin: 0 8px 0 0;
					}
				}
			}
			.paid{
				@extend .balance;
				color: #5dab0a;
			}
			.left2pay{
				@extend .balance;
				color: #ac296a;
				border: none;
			}
		}
	}
	.header{
		margin: 0 0 10px 0;
		span{
			color: #ac296a;
			font-size: 18px;
			text-transform: uppercase;
		}
		a{
			font-size: 14px;
		}
	}
	.heading{
		border: 1px solid #dbdbdb;
		background-color: #f5f5f5;
		padding: 10px 10px 10px 10px;
		font-size: 12px;
		margin: 0 0 9px 0;
		.title{
			width: 300px;
			display: inline-block;
			margin: 0 8px 0 0px;
		}
		.value{
			width: 125px;
			display: inline-block;
			margin: 0 8px 0 -3px;
		}
		.paid{
			width: 125px;
			display: inline-block;
			margin: 0 8px 0 -3px;
		}
		.left2pay{
			width: 140px;
			display: inline-block;
		}
	}
	.expenses-group{
		margin: 0 0 28px 0;
		.main-cost{
			background-color: #efd6e3;
			padding: 10px;
			font-size: 14px;
			.title{
				border: 1px solid #e8e8e8;
				@include border-radius(3px);
				@include box-sizing;
				padding: 0 12px;
				line-height: 33px;
				height: 33px;
				width: 300px;
				background-color: #fff;
				display: inline-block;
				margin: 0 8px 0 0px;
			}
			.value{
				width: 125px;
				display: inline-block;
				border: 1px solid #e8e8e8;
				@include border-radius(3px);
				@include box-sizing;
				padding: 0 12px;
				line-height: 33px;
				height: 33px;
				background-color: #fff;
				margin: 0 8px 0 -3px;
			}
			.paid{
				width: 125px;
				display: inline-block;
				border: 1px solid #e8e8e8;
				@include border-radius(3px);
				@include box-sizing;
				padding: 0 12px;
				line-height: 33px;
				height: 33px;
				background-color: #fff;
				margin: 0 8px 0 -3px;
			}
			.left2pay{
				display: inline-block;
				border: 1px solid #e8e8e8;
				@include border-radius(3px);
				@include box-sizing;
				padding: 0 12px;
				line-height: 33px;
				height: 33px;
				width: 125px;
				background-color: #fff;
				margin: 0 3px 0 0px;
			}
			.del{
				display: inline-block;
				@include background(delete-small, 0);
				@include sprite-dimensions($icons, delete-small);
				cursor: pointer;
			}
		}
		.cost{
			padding: 10px;
			font-size: 14px;
			border-bottom: 1px solid #f1f1f1;
			.title{
				border: 1px solid #e8e8e8;
				@include border-radius(3px);
				@include box-sizing;
				padding: 0 12px;
				line-height: 33px;
				height: 33px;
				width: 300px;
				background-color: #fff;
				display: inline-block;
				margin: 0 8px 0 0px;
			}
			.value{
				width: 125px;
				display: inline-block;
				border: 1px solid #e8e8e8;
				@include border-radius(3px);
				@include box-sizing;
				padding: 0 12px;
				line-height: 33px;
				height: 33px;
				background-color: #fff;
				margin: 0 8px 0 -3px;
			}
			.paid{
				width: 125px;
				display: inline-block;
				border: 1px solid #e8e8e8;
				@include border-radius(3px);
				@include box-sizing;
				padding: 0 12px;
				line-height: 33px;
				height: 33px;
				background-color: #fff;
				margin: 0 8px 0 -3px;
			}
			.left2pay{
				display: inline-block;
				border: 1px solid #e8e8e8;
				@include border-radius(3px);
				@include box-sizing;
				padding: 0 12px;
				line-height: 33px;
				height: 33px;
				width: 125px;
				background-color: #fff;
				margin: 0 3px 0 0px;
			}
			.del{
				display: inline-block;
				@include background(delete-small, 0);
				@include sprite-dimensions($icons, delete-small);
				cursor: pointer;
			}
		}
		.add{
			display: block;
			font-size: 14px;
			margin: 15px 0 0 0;
		}
	}
}
.car-calc{
	.left{
		float: left;
	}
	.right{
		float: right;
	}
	.calculator-box{
		margin: 20px 0 33px 0;
		border: 1px solid #d9e7f2;
		padding: 10px;
		.calculator{
			background-color: #f1f6fa;
			padding: 20px 30px 30px 45px;
			background: #f1f6fa url(../images/wedding-car.png) no-repeat 410px 70px;
			> .left{
				margin: 0 55px 0 0;
				label{
					margin: 0 30px 0 0;
				}
			}
			.title{
				margin: 15px 0 15px 0;
				span{
					color: #72838d;
					font-size: 15px;
					font-weight: bold;
				}
			}
			.number-of-guests{
				border: 1px solid #e8e8e8;
				background-color: #fff;
				width: 135px;
				height: 35px;
				@include box-sizing;
				@include border-radius(3px);
				line-height: 35px;
				font-size: 15px;
				color: 000;
				text-align: center;
				padding: 0 10px;
				margin: -5px 0 0 0;
			}
			.photographer{
				margin: 0 0 10px 0;
				font-size: 15px;
				color: #000;
				input{
					margin: 0 10px 0 0;
				}
			}
			.continue{
				margin: 15px 0 0 0;
				color: #fff;
				font-size: 22px;
				text-align: center;
				line-height: 58px;
				height: 58px;
				width: 268px;
				@include box-sizing;
				@include border-radius(3px);
				background-color: #58a5cf;
				border: 1px solid #2e87bb;
				cursor: pointer;
			}
		}
	}
	> .group{
		display: inline-block;
		margin: 0 45px 0 0;
		span{
			font-size: 14px;
			color: #ac296a;
			&.title{
				color: #333;
				margin: 0 5px 0 0;
			}
		}
	}
	.car-box{
		margin: 15px 0 0 0;
		> .right{
			width: 573px;
		}
		.guests-block{
			width: 166px;
			margin: 10px 0 0 0;
			.guests{
				border: 1px solid #dbdbdb;
				height: 38px;
				font-size: 14px;
				color: #333;
				background-color: #f5f5f5;
				line-height: 38px;
				text-align: center;
				margin: 0 0 5px 0;
				&-main{
					background-color: #f8edf2;
				}
			}
		}
		.machine-guest{
			background: url(../images/car-bg2.png);
			height: 120px;
			display: inline-block;
			width: 284px;
			padding: 28px 25px 20px 30px;
			@include box-sizing;
			.number{
				display: inline-block;
				margin: 0 10px 0 0;
				color: #333;
				font-size: 24px;
				position: relative;
				top: -15px;
			}
			.car{
				width: 198px;
				display: inline-block;
				.guest{
					display: inline-block;
					width: 94px;
					height: 30px;
					color: #333;
					border: 1px solid #dbdbdb;
					text-align: center;
					margin-bottom: 5px;
					cursor: pointer;
					line-height: 32px;
				}
				.driver{
					display: inline-block;
					background-color: #a7a7a7;
					color: #fff;
					width: 94px;
					height: 30px;
					border: 1px solid #a7a7a7;
					text-align: center;
					cursor: pointer;
					line-height: 32px;
				}
				.green{
					display: inline-block;
					background-color: #5dab0a;
					color: #fff;
					width: 94px;
					height: 30px;
					border: 1px solid #5dab0a;
					margin-bottom: 5px;
				}
			}
		}
		.add-reset{
			margin: 30px 0 0 0;
			.add-car{
				margin: 0 0 0 15px;
			}
			.reset-car{
				margin: 0 15px 0 0;
			}
		}
	}
}